* {
    box-sizing: border-box;
    padding: 0;margin: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100svh;
    width: 100vw;
    padding: 0 15%;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}

nav {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.container {
    height: 100%;
    align-items: center;
    font-size: 1.4em;
}

/* Navbar global*/

/* LOGO */
.logo--container {
    width: 10%;
    cursor: pointer;
}

.logo {
    font-size: 2.75rem;
}

/* Navbar */

.nav--container {
    width: 90%;
}

ul {
    height: 100%;
    width: 100%;
}

.nav--list {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Nav links */

.nav--links {
    width: 80%;
    height: 100%;
}

.nav--links .nav--list li{
    padding: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.nav--links .nav--list li:hover {
    background-color: var(--background-color);
}

/* Nav client */

.nav--client {
    width: 20%;
    height: 100%;
}

.nav--client .nav--items{
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Lang selector */

.menu--toggler {
    position: relative;
}

.language-sub-menu {
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 50px;
    border: 1px solid black;
    background-color: white;
}

.sub-items {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    transition: background-color 0.3s;
}

.sub-items:hover {
    background-color: var(--background-color);
}

.show-sub-menu {
    display: block;
}

/* Hamburger menu */
.hamburger--container {
    display: none;
}


/* Main */

main {
    width: 100%;
}

/* Hero */

.hero {
    width: 100%;
    height: calc(100svh - 100px);
    padding: 20px 0;
    justify-content: space-between;
}
    
.hero--section {
    width: 50%;
    height: 100%;
}

.text--section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.text--section a {
    text-decoration: none;
    color: white;
    background-color: rgb(31, 30, 30);
    width: 125px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.text--section a:hover {
    background-color: rgba(31, 30, 30, 0.846);
}

.image--section img {
    border-radius: 10px;
}

/* Our products */

.our-products {
    width: 100%;
    height: 600px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.pres-grid {
    height: 500px;
    width: 100%;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
}

.product-pres {
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 10px;
}

.product-pres:hover {
    background-size: 150%;
}

.top {
    background-image: url('../img/top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top:hover {
    background-position: 50%;
}

.bottom {
    background-image: url('../img/bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom:hover {
    background-position: 60%;
}


.hat {
    background-image: url('../img/hat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hat:hover {
    background-position: 20%;
}


.button-show {
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.508);
    transition: ease-in 0.2s;
}

.button-show a {
    text-decoration: none;
    color: white;
    background-color: rgb(31, 30, 30);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.button-show a:hover {
    background-color: rgb(57, 55, 55);
}

.product-pres:hover .button-show{
    opacity: 1;
}

/* Footer */
footer {
    width: 100%;
    height: 100px;
    display: flex;
    border-top: 1px solid black;
    gap: 10px;
}

.footer-logo {
    width: 33%;
    height: 100%;
    margin-top: 20px;
}

.legal-mention {
    width: 33%;
    height: 100%;
    margin-top: 20px;
}

.contact {
    width: 33%;
    height: 100%;
    margin-top: 20px;
}


/* Shop section */

.products {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
}

.product-card {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.card-image {
    width: 100%;
    height: 300px;
}

.card-buy a {
    padding: 5px;
    background-color: rgb(31, 30, 30);
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

/* Cart section */

.cart--container-all {
    margin-top: 10px;
    gap: 10px;
}

.cart--container {
    min-height: 800px;
    gap: 10px;
    flex-direction: column;
}

.product-cart {
    width: 100%;
    min-height: 100px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.cart-image {
    width: 200px;
    height: 100px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.cart-info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-title span{
    font-weight: bold;
}
.cart-price {
    justify-content: center;
    align-items: center;
}

.buy--container {
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buy-now a{
    background-color: rgb(31, 30, 30);
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.buy-now a:hover {
    background-color: rgb(57, 55, 55);
}

/* Login section */

.login--container {
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.login--container form {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.login--container div {
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.login--container input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 0 5px;
}

.login--container button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: rgb(31, 30, 30);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.login--container button:hover {
    background-color: rgb(57, 55, 55);
}

/* Account section */

.account--container {
    width: 100%;
    min-height: 750px;
    justify-content: center;
    align-items: center;
}

.account-card {
    width: 400px;
    min-height: 300px;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
}

.account-image {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.account-info {
    font-size: 24px;
}

@media screen and (max-width: 1430px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .hero {
        flex-direction: column-reverse;
        min-height: 800px;
    }

    .text--section {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .image--section {
        width: 100%;
        height: 600px;
    }

    .image--section img {
        width: 100%;
        height: 100%;
    }

    .bottom {
        background-position: 30%;
    }
}

@media screen and (min-width: 941px) {
    .nav--container {
        display: flex;
    }
}

@media screen and (max-width: 940px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-info p {
        font-size: 10px;
    }
    .cart--container-all {
        flex-direction: column;
    }
    .pres-grid {
        grid-template-columns: repeat(1, 1fr);
        height: 900px;
    }
    .top {
        background-image: url('../img/top.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .top:hover {
        background-position: 80%;
    }
    
    .bottom {
        background-image: url('../img/bottom.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bottom:hover {
        background-position: 60%;
    }
    
    
    .hat {
        background-image: url('../img/hat.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hat:hover {
        background-position: 20%;
    }

    .our-products {
        min-height: 1000px;
    }

    .nav--container {
        position: absolute;
        background-color: white;
        display: none;
        flex-direction: column;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 10;
        width: 100%;
        margin-top: 100px;
    }

    .nav--items {
        z-index: 12;
    }

    .language-sub-menu {
        position: absolute;
        top: -100px;
    }

    .nav--list {
        flex-direction: column;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .logo--container {
        z-index: 11;
    }

    .hamburger--container {
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        cursor: pointer;
        z-index: 11;
    }

    .hamburger {
        position: relative;
        width: 40px;
        height: 2px;
        background-color: grey;
        border-radius: 5px;
    }
    .hamburger::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: grey;
        border-radius: 5px;
        bottom: 10px;
    }
    .hamburger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: grey;
        border-radius: 5px;
        top: 10px;
    }

}